
body{
  padding: 0;
  margin: 0;
  border: none;
}
.container{
  display: flex;
  width: 100% !important;
  max-width: 100% !important;
}

.left{
  background: rgb(41, 131, 99);
  width: 60%;
  height: 100vh;
}

.left h1{
  font-size: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40vh 50px;
  text-align: center;
}

.right{
  background: white;
  width: 40%;
}

.form-container{
  width: 90%;
  margin: auto;
}

.btn{
  border-radius: 1px;
}

.form-container{
  margin-top: 30vh;
}